<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <title>Document</title>

    </head>
    <body>
        <div id="tabela-precos">
            <table>
                <tr>
                    <th>Serviços</th>
                    <th>Preços</th>
                </tr>
                <tr>
                    <td>Alongamento fibra de vidro</td>
                    <td>R$ 90,00</td>
                </tr>
                <tr>
                    <td>Alongamento molde F1</td>
                    <td>R$ 80,00</td>
                </tr>
                <tr>
                    <td>Blindagem</td>
                    <td>R$ 65,00</td>
                </tr>
                <tr>
                    <td>Esmaltação permanente</td>
                    <td>R$ 40,00</td>
                </tr>
                <tr>
                    <td>Manutenção até 30 dias</td>
                    <td>R$ 60,00</td>
                </tr>
                <tr>
                    <td>Reposição unha quebrada</td>
                    <td>R$ 5,00</td>
                </tr>
            </table>
        </div>
    </body>
</html>